<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".HyperControllerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HyperController"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperController">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HyperController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auto Config receiver -->
        <receiver
            android:name=".service.AutoConfigReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Auto Config foreground service -->
        <service
            android:name=".service.AutoConfigService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

    </application>

</manifest>
